/*SCSS Compiled*/
body {
  background-color: gray;
  color: black;
}

.login {
  background-color: lightgrey;
  height: 400px;
  width: 600px;
  margin: 0 auto;
  border: 2px solid #453f3f;
  border-radius: 2%;
  box-shadow: 1px 1px 1px 1px;
}
.login h1 {
  text-align: center;
  padding-top: 20px;
  color: #414141;
}
.login h2 {
  text-align: center;
  padding-top: 10px;
  color: blueviolet;
}
.login form {
  text-align: center;
  padding-top: 10px;
  color: #2d2d2d;
}
.login button {
  text-align: center;
  padding: 10px;
  width: 100px;
  color: #2d2d2d;
  background-color: #167eed;
  margin: 10px auto;
}
.login .error-message {
  text-align: center;
  padding-top: 10px;
  color: #e31a1a;
}
/*SCSS*/
/*
body{
    background-color: gray;
    color: black;
}
.login{
    background-color: lightgrey;
    height: 400px;
    width: 600px;
    margin: 0 auto;
    border: 2px solid rgb(69, 63, 63);
    border-radius: 2%;
    box-shadow: 1px 1px 1px 1px;

    h1{
        text-align: center;
        padding-top: 20px;
        color:rgb(65, 65, 65);
    }
    h2{
        text-align: center;
        padding-top: 10px;
        color: blueviolet;
    }
    form{
        text-align: center;
        padding-top: 10px;
        color: rgb(45, 45, 45);
    }
    button{
        text-align: center;
        padding: 10px;
        width: 100px;
        color: rgb(45, 45, 45);
        background-color: rgb(22, 126, 237);
        margin: 10px auto;
    }
    .error-message{
        text-align: center;
        padding-top: 10px;
        color: rgb(227, 26, 26);
    }
}
*/
